<div class="modal-header">
  <h4 class="modal-title">Select User Name</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
   <span aria-hidden="true">&times;</span>
  </button>
</div>


<span style="cursor:pointer;color:green;margin-left:20px;" (click)="onButtonClick('Tracy')">Tracy</span><br />
<span style="cursor:pointer;color:green;margin-left:20px;" (click)="onButtonClick('Shan')">Shan</span><br />
<span style="cursor:pointer;color:green;margin-left:20px;" (click)="onButtonClick('Carlos')">Carlos</span><br />
<span style="cursor:pointer;color:green;margin-left:20px;" (click)="onButtonClick('Julieta')">Julieta</span><br />
<span style="cursor:pointer;color:green;margin-left:20px;" (click)="onButtonClick('Paige')">Paige</span><br />
