/* You can add global styles to this file, and also import other style files */
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import '~css/common.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
