<div class="card">
    <div class="header">
        <div style="float:left;width:100%;">
          <div style="width:50%;float:left;"><h4 class="title">Angular App</h4></div>


        </div><br><br>


        <!-- <p class="category">Here is a subtitle for this table</p> -->
    </div>
    <div class="content table-responsive table-full-width">


        <form id="rendered-form" name="uploadFile" method="post" enctype="multipart/form-data">


            <style type="text/css">
              .tg  {border-collapse:collapse;border-spacing:0;width:100%;}
              .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
              .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
              .tg .tg-us36{border-color:inherit;vertical-align:top}
            </style>

              <table class="tg">

                <tbody><tr>
                  <!-- <td class="tg-us36" align="right" width="30%"><b>Export</b></td> -->
                  <td class="tg-us36">

                    <a href="https://internal.crspark.com/gamerelations/csv/game_relation.csv"><input type="button" value="Export Report" style="background-color: lightgray;

color: unset;
font-weight: 900;
font-size: larger;" class="form-control" name="exportdata"></a>

</td>
                </tr>

                <!-- <tr>

                  <td class="tg-us36" colspan="2"><input type="submit" class="form-control" name="Submit" ></td>
                </tr> -->

              </tbody></table>

        </form>


    </div>
</div>
